################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MyToy/MyToy/bin
/MyToy/MyToy/obj
/MyToy/.vs/MyToy
/ColorSlide/.vs
/ColorSlide/ColorSlide/bin
/ColorSlide/ColorSlide/obj
